.b-weather__main{
display: flex;
flex-direction: column;
    background: linear-gradient(45deg,#f6fa60,#FACC1E,#FF7924);;
     width: 700px;
    height: 400px;
  margin:10vh auto;
  border-radius: 25px;
  box-shadow: 0 20px 40px 0px rgba(0,0,0,0.3);
      font-family: "Open+Sans", sans-serif;
   border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
}





header{
     height: 80px;
  background: linear-gradient(45deg,#f6fa60,#FACC1E,#FF7924);
    
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
  position:relative;
}

#getMessage {
  width: 40px;
  height:40px;
  color: #eee;
}

#search-txt {
  color: red;
  height:30px;
  border-radius: 10px;
  border-style:none;
  outline:none;
  padding-right:1px;
  padding-left:1px;
  text-align:center;
    box-shadow: 5px -3px 0 0 rgba(0,0,0,0.07);
}

.search {
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
}


.b-weather{
    list-style: none;
        display: flex;
flex-direction: row;
     text-align: center;
    margin-left: -40px;
    height: 300px;
    margin-top: 0px;

margin-bottom: 0px;
}

.b-weather__day{
     margin: none;
    display: flex;
flex-direction: column;
    width: 70%;
     background-color: #ffffff;
 
    margin-top: 20px;
    margin-bottom: 5px;
   
    box-shadow: 5px -2px 0 0 rgba(0,0,0,0.15);

}

.b-weather__day:first-child{
    border-bottom-left-radius: 25px;
     border-top-left-radius: 25px;
    margin-left: 33px;
}

.b-weather__day:last-child{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    margin-right: 30px;
}




.b-weather__img{
    width:100%;
    text-align: center;
    border-bottom-left-radius: 25px;
  /*background-color: #FFC107;*/
      height: 100%;
     width: 50%;
    margin-top: -20px;
    padding-top: 40px;  
}

.b-weather__logo{
     height: 0px;
}



img{
 
    line-height: 65px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0 10px rgba(255,255,255);
    font-size: 35px;
    font-weight: 600;
    position: absolute;
    top: 92px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.1s ease 0s;    
}


.owl-carousel .owl-item img{
    width: 30%;
}



.owl-carousel .owl-item img:hover{
   
    width: 31%;
    padding: 10px 10px;
    box-shadow: 0 0 0 7px #fff inset, 0 0 0 2px #009AFC;

}


    
.b-weather__descr{
    width:100%;
     margin-bottom: 10%;
}


.b-weather__data{
    width:100%;
    line-height: 1.5;
        border-bottom-right-radius: 25px;
  /*background-color: #9C27B0;*/
      height: 100%;
  width: 50%;
    margin-top: 10px;
    padding-top: 40px;
   
}


/*.b-weather__date{
    background-color: #FFC107;
    margin-top: 0px;

padding-top: 50px;

padding-bottom: 50px;
}*/



.b-weather__date{
    padding: 27px 20px 70px;
    margin: 0 0 30px 0;
    background: linear-gradient(45deg,#44f2b5,#009AFC,#E75A7D);
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    
    
    
    
}
.b-weather__date:before,
.b-weather__date:after{
   content: "";
width: 249px;
height: 199px;
border-radius: 63px;
background: #fff;
position: absolute;
bottom: -193px;
left: -85px;
transform: rotate(-59deg);
}
.b-weather__date:after{
   border-radius: 74px;
bottom: auto;
top: 91px;
left: auto;
right: -131px;
transform: rotate(-83deg);
}















.b-weather__minTemp{
   
   margin-bottom: 1%;
    
}
.b-weather__maxTemp{
   
   margin-bottom: 1%;
    margin-top: -20px;
    
}

.owl-nav {
    margin-top:20px;
    position:relative;
}
.owl-prev{
    position: absolute;
    left: 0px;
    bottom: 155px;
    padding: 8px 17px;
    background:#333;
    transition:background 0.50s ease;
}
.owl-next{
    position: absolute;
    right: 0px;
    bottom: 155px;
    padding:8px 17px;
    background:#333;
    transition:background 0.50s ease;
}


  .owl-prev:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


.owl-prev:after,
.owl-next:after{
    content:"\f137";
    font-family: "Font Awesome 5 Free";
    color: #0066da;
    font-weight: 900;
    font-size:30px;
}
.owl-nav .owl-next:after{
  content:"\f138";
}
.owl-prev:hover,
.owl-next:hover{
    background: #e74c3c;
}

.fa-sun{
    
    color: #FACC1E; 
}

.fa-moon{
    
    color: #009AFC;
}



